/* Posit Color definitions */
$posit-blue:             #447099;
$posit-light-blue-1:     #d1dbe5;
$posit-light-blue-2:     #a2b8cb;
$posit-light-blue-3:     #7494b1;
$posit-dark-blue-1:      #305775;
$posit-dark-blue-2:      #213d4f;
$posit-dark-blue-3:      #17212B;

$posit-gray:             #404041;
$posit-light-gray-1:     #c2c2c4;
$posit-light-gray-2:     #949494;
$posit-light-gray-3:     #707073;
$posit-dark-gray-1:      #333333;
$posit-dark-gray-2:      #242426;
$posit-dark-gray-3:      #151515;

$posit-yellow:           #E7B10A;
$posit-light-yellow-1:   #EFDEB9;
$posit-light-yellow-2:   #F5D487;
$posit-light-yellow-3:   #F4C540;
$posit-dark-yellow-1:    #C48F0A;
$posit-dark-yellow-2:    #9B6C04;
$posit-dark-yellow-3:    #6D4A03;

$posit-orange:           #ee6331;
$posit-light-orange-1:   #edccbf;
$posit-light-orange-2:   #eba38c;
$posit-light-orange-3:   #E58066;
$posit-dark-orange-1:    #ab4d26;
$posit-dark-orange-2:    #80361c;
$posit-dark-orange-3:    #451f12;

$posit-red:              #D44000;
$posit-light-red-1:      #F9A395;
$posit-light-red-2:      #E57366;
$posit-light-red-3:      #DB593B;
$posit-dark-red-1:       #A62103;
$posit-dark-red-2:       #7D1A03;
$posit-dark-red-3:       #590E02;

$posit-teal:             #419599;
$posit-light-teal-1:     #c2d9d9;
$posit-light-teal-2:     #94bdbf;
$posit-light-teal-3:     #70a3a6;
$posit-dark-teal-1:      #297075;
$posit-dark-teal-2:      #1f4f4f;
$posit-dark-teal-3:      #122b2b;

$posit-green:            #72994e;
$posit-light-green-1:    #CFD9C7;
$posit-light-green-2:    #ADBF99;
$posit-light-green-3:    #8AA67A;
$posit-dark-green-1:     #57733D;
$posit-dark-green-2:     #3B4F29;
$posit-dark-green-3:     #212B1C;

$posit-burgundy:         #9a4665;
$posit-light-burgundy-1: #d9c4cc;
$posit-light-burgundy-2: #bf96a3;
$posit-light-burgundy-3: #a67380;
$posit-dark-burgundy-1:  #78384f;
$posit-dark-burgundy-2:  #542938;
$posit-dark-burgundy-3:  #2e171f;
