/*-- scss:defaults --*/

// import font
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

// import shared colors
@import '_posit-colors';

/*-- scss:variables --*/
$primary: $posit-blue;


/* ======== General Styles ======== */   

// Feature preview heading colors
$preview-header: #ee6331; /* posit orange, contrast: 8.45 */
$preview-header-border: darken($preview-header, 5%);

// scss-docs-end color-variables

// Typography

/* Font, line-height, and color for body text, headings, and more. */

//scss-font-start font-variables
$font-family-sans-serif: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial,
  sans-serif, system-ui;
$font-family-monospace: "Source Code Pro", monospace;
$font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1rem;
// scss-docs-end font-variables

// Headings
$headings-font-weight: 400 !default;

//font and body color
$body-color: $posit-dark-gray-2;

//  Customize the navbar
$navbar-bg: #ffffff;
$navbar-fg: $posit-light-gray-3;
$navbar-hl: $primary;
$navbar-brand: $posit-dark-gray-2;
$navbar-brand-hl: $navbar-brand;
// Start update from Greg suggestion
$navbar-brand-font-size: 1rem !default;
// End update from Greg suggestion

// Code


// Callouts
// Start update from Greg suggestion
$callout-color-note: $posit-blue;
// End update from Greg suggestion
$callout-color-warning: $posit-orange;
$callout-color-important: $posit-burgundy;


// Tables

$table-hover-bg: $posit-light-blue-2 !default;
$table-striped-bg: $posit-light-blue-1 !default;

// CSS

// Layout

/* Navbar */

.navbar {
  border-bottom: 1px solid $posit-light-blue-1;
}

/* Style for the version included in the website title */
.navbar-title small {
    font-size: 14px;
    display: block;
    //padding-left: 1em;
  }

/* Adds separation between nav bar links and site title */
.navbar-collapse {
    margin-left: 2ch;
}

/* Sidebar */

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
    background-color: #f4f4f7;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-left: -5px;
    padding: 6px;
}

/* Footer */

/* Posit icon fullcolor */
#footer-right-posit-logo {

}

.nav-footer-left .footer-items, .nav-item {
  padding-right: 11px;
}

// Components

/* Tabs and pills */

.nav-tabs .nav-link {
    text-transform: none !important;
    font-family: $font-family-sans-serif;
    color: $navbar-fg;
  }
  
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: $primary !important;
    font-weight: 700 !important;
  }
  
  .nav-tabs .nav-link:hover,
  .nav-link:focus {
    color: $posit-blue !important;
  }

  .nav-pills {
    border: none !important;
  }
  
  .nav-pills,
  .panel-underline {
    > .nav {
      display: flex;
      border: none !important;
      flex-direction: row;
      justify-content: center;
      .nav-link {
        cursor: pointer;
      }
    }
  }
  
  .nav-pills > .nav .nav-link {
    border: none !important;
  }
  
  .nav-pills,
  .panel-underline {
    .tab-content {
      padding-left: 0;
      padding-right: 0;
      border: none;
    }
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .nav-item.show .nav-link {
    color: #ffffff !important;
    text-decoration: none !important;
  }
  
  .nav-pills .nav-link:hover,
  .nav-link:focus {
    isolation: isolate;
    color: $posit-blue !important;
    border: none !important;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #ffffff !important;
  }

// Headings

h1, h2, h3, h4, h5, h6 {
  font-weight: $headings-font-weight !important;
}

// Body

body {
  letter-spacing: -0.2px;
}
/* Code */

div.sourceCode {
  background-color: lighten($posit-light-gray-3, 55%) !important;
}

.code-with-filename .code-with-filename-file {
  padding: .25rem;
  border: none !important;
  box-shadow: 0px 0px 2px rgba(5, 10, 15, .14), 0px 2px 4px rgba(29, 31, 33, .16);
}

div.sourceCode, pre.console {
  border: none !important;
  box-shadow: 0px 0px 2px rgba(5, 10, 15, 0.14), 0px 2px 4px rgba(29, 31, 33, .16);
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  padding: .25rem;
}

/* Footnotes */

a.footnote-back {
  font-weight: 900;
  font-size: 1.1rem;
}

// Specialty headers

/* the feature PREVIEW header */
.preview-header > h1:after,
.preview-header > h2:after,
.preview-header > h3:after,
.preview-header > h4:after,
header h1 .preview-header {
  content: "Preview feature";
  margin-left: 1em;
  position: relative;
  border-radius: 50rem !important;
  top: -0.5em;
}

.preview-header > h1:after,
.preview-header > h2:after,
.preview-header > h3:after,
.preview-header > h4:after,
header h1 .preview-header,
div span.preview-feature {
  color: $preview-header;
  border: 1px solid $preview-header-border;
  font-weight: 500;
  font-size: 9pt !important;
  padding: 0rem 0.4rem;
}

div span.preview-feature {
  margin-left: 1em;
  text-transform: uppercase;
}

// Specialty lists

/* Callout steps for images with multiple items/steps shown in single image */

ol.groovyAlpha {
  list-style: none;
  counter-reset: list-counter;
}

ol.groovyAlpha li {
  counter-increment: list-counter;
}

ol.groovyAlpha li > p:before {
  content: counter(list-counter, lower-alpha);
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 10px;
  color: #fff;
  background-color: #fc403b;
  display: inline-block;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
}

// Version toast

// Or directly override via toast styling:
#version-toast {
  background-color: $posit-white;
  color: $body-color;

  .toast-header {
    background-color: $primary;
    color: #ffffff;
  }

  .btn-close {
    filter: invert(1);
  }
}