/*-- scss:defaults --*/

// import font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/*-- scss:variables --*/

// scss-docs-start color-variables
$posit-blue: #447099;
$posit-dark-blue-1: #305775;
$posit-dark-blue-2: #213D4F;
$posit-orange:  #EE6331;
$posit-gray:    #404041;
$posit-teal:    #419599;
$posit-green:   #72994E;
$posit-burgundy:#9A4665;
$posit-burgundy-1:#78384F;
$posit-burgundy-2:#542938;
$primary: $posit-teal;
$dark-md-body: hsla(0,0%,100%,.6);
$dark-md-background: #0C1721;

// Feature preview heading colors
$preview-header: $posit-orange; /* posit orange, contrast: 8.45 */
$preview-header-border: darken($preview-header, 5%);

// scss-docs-end color-variables

// Typography
// Font, line-height, and color for body text, headings, and more.

//scss-font-start font-variables
$font-family-sans-serif: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, system-ui;
$font-family-monospace: "Source Code Pro", monospace;
$font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1rem;
// scss-docs-end font-variables

//font and body color - dark theme changes

$body-color: $dark-md-body;
$popover-bg: $posit-green !default; // check this - citation previews

// scss-docs-start font-sizes - seems that I have to keep these in the style sheet?
$h1-font-size:44px;
$h2-font-size:28px;x

h1 {
  size: $h1-font-size;
}
h2 {
  size: $h2-font-size;
}
// scss-docs-end font-sizes

// Headings - dark mode changes
// scss-docs-start headings-variables
$headings-color: #ffffff; //dark mode change
// scss-docs-end headings-variables

//  Customize the navbar - dark mode changes
$navbar-bg: lighten($dark-md-background, 5%);
$navbar-fg: #ffffff; 


// Body
//
// Settings for the `<body>` element.

//$body-color: $posit-green !default;
$body-bg: $dark-md-background !default; // dark mode change

// Code blocks

// Code block title

.quarto-dark .code-with-filename .code-with-filename-file {
  background-color: #000000 !important;
  border: none;
}

.code-with-filename strong {
  color: #6E9AC3;
}

// Code block background
$code-block-bg: lighten($dark-md-background, 10%);

//$monobackgroundcolor: $dark-md-background !default;



// Copy button - dark mode changes

$btn-code-copy-color: $posit-dark-blue-2;
$btn-code-copy-color-active: #ffffff;
$callout-icon-scale: 70%;

// CSS overrides

.navbar-title {
    color: #ffffff; // dark theme change
}

.nav-footer {
    color:  #ffffff !important; // dark mode change
    border-top: solid $posit-gray 1px;
}

// Footer icons - dark mode change
.nav-footer a {
  color: #ffffff !important;
}

// Tabs - dark mode changes

.nav-tabs .nav-link.active {
    color: #ffffff !important;
}

// Sidebar and toc

.sidebar-navigation li a{
  color: #ffffff;
}

.sidebar-navigation li a:hover{
  color: inherit;
}

.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
    color: $posit-teal !important;
}

// Preview header - dark mode change
.preview-header > h1:after,
.preview-header > h2:after,
.preview-header > h3:after,
.preview-header > h4:after,
header h1 .preview-header,
div span.preview-feature {
  background-color: $preview-header;
  color:#ffffff;
  border: 1px solid $preview-header-border;
  font-weight: 600;
  font-size: 9pt !important;
  padding: 0rem 0.4rem;
}

div span.preview-feature {
  margin-left: 1em;
  text-transform: uppercase;
}

/* List disc colors */
li::marker {
  color: $posit-teal;
}

// Groovy list - dark mode change

ol.groovyAlpha li > p:before {
  content: counter(list-counter, lower-alpha);
  color: #000;
  font-weight: 600;
}

// Code block elements - dark mode

pre > code.sourceCode > span {
  //color: #003B4F;
}

code span.ex {
    //font-weight: bold;
    color: #ffffff;
}

code span.dt {
  color: #FFABCA;
    //font-style: inherit;
}

code span.ot {
    //color: rgb(60, 222, 222);
}

code span.st {
    //color: greenyellow;
}



.callout.callout-style-default:not(.no-icon) div.callout-title-container {
  color: $dark-md-background;
}
// Callouts
//Warning
div.callout-warning .callout-icon::before {
  //background-image: url( '_extensions/posit-docs/assets/images/do_not_touch_FILL0_wght400_GRAD0_opsz24.svg') !important;
}

div.callout-warning.callout {
  border-left-color: $posit-orange !important;
}

div.callout-warning.callout-style-default>.callout-header {
  background-color: $posit-orange !important;
}

// Important
div.callout-important .callout-icon::before {
  background-image: url( '_extensions/posit-docs/assets/images/exclamation-circle.svg') !important;
}

div.callout-important.callout {
  border-left-color: $posit-burgundy !important;
}

div.callout-important.callout-style-default>.callout-header {
  background-color: $posit-burgundy !important;
}

// Note

//div.callout-note .callout-icon::before {
 // background-image: url( '_extensions/posit-docs/assets/images/exclamation-circle.svg') !important;
//}

div.callout-note.callout {
  border-left-color: $posit-blue !important;
}

div.callout-note.callout-style-default>.callout-header {
  background-color: $posit-blue !important;
}